<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>RMPU Microcontroller</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="icon.ico" />
</head>

<body>
    <div id="error"></div>
    <div id="ports"></div>

    <div class="sidenav">
        <a href="/all-units">All Units</a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Search</a>
        <a href="/track">Track</a>
        <a href="#">Fault</a>

        
    </div>

    <div class="main">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="unit-search" placeholder="Unit id" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="search-btn" >Submit</button>
                </div>
            </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <img src="/logo.jpg" alt="" srcset="">
        </div>
        
        <div class="container d-flex flex-wrap" id="card-div"   style="padding: 10px;">  
            

            <!-- <div class="card unit-card" >
                <div class="card-body">
                    <h5 class="card-title">DRESPL/001</h5>
                    <p class="card-text">Unit Id : 1 <br> Mfg Date : 18/09/2022 <br> Time : 18:00:00 </p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div> -->



        </div>
    </div>



</body>
<script type="module" src="/config.js"></script>
<script src="/allUnits.js"></script>


</html>