<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>RMPU Microcontroller</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/icon.ico" />
</head>

<body>
    <div id="error"></div>
    <div id="ports"></div>

    <div class="sidenav">
        <a href="/all-units">All Units</a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Search</a>
        <a href="/track">Track</a>
        <!-- <a href="#">Contact</a> -->
      </div>

    <div class="main">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="unit-search" placeholder="Unit id" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="search-btn">Submit</button>
                </div>
            </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin-left: -125px;">
                <div class="col-11" style="margin-left: 70px; ">


                    <!-- BODY DIV -->
                    <div class="container" id="body-div" style="font-size: 15px;">
                        
                        <!-- MAP EMBED -->
                        <!-- <div class="row" style="height: 50px;">
                            <div class="col-2">
                                <button id="map-btn" class="btn btn-primary"> Change</button>
                            </div>
                        </div> -->
                        <div class="row" style="height: 700px;">
                            <iframe id="map-frame" src=""></iframe>
                        </div>
                        
                    </div>
                    <!-- BODY DIV -->
                </div>
            </div>
        </div>
    </div>



</body>

<script src="/track.js"></script>
<script type="module" src="/config.js"></script>

</html>